<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE"></title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
<!-- 	<th:block th:include="fragments/default/head"></th:block> -->
	<th:block layout:fragment="custom_css"></th:block>	
</head>

<body class="">
	<th:block layout:fragment="content"></th:block>
	
	<th:block layout:fragment="custom_js"></th:block>
</body>

</html>